@charset "utf-8";

/*
    Main style sheet for Reverend Studios Website

    Author: Kevin Blackmon
    Date: 12/15/2022

    Filename: rs_mainstyles.css
*/

@font-face {
    font-family: "fantasyFont";
    src: url("Arabella.ttf");
}

@font-face {
    font-family: "customBody";
    src: url("Rounded Elegance.ttf")
}

@font-face {
    font-family: "customHeaders";
    src: url("Imperator.ttf");
}

/*Body Styles*/
body {
    width: 100%;
    min-height: 100vh;
    background: rgb(44, 41, 58);
    font-family: customBody;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: rgb(245 245 245);
}

#container-inner {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#container {
    flex: 1;
}

h2 {
    padding: 10px;
    color: rgb(245 245 245);
    font-size: 24px;
    text-align: center;
    margin: 20px auto 20px auto;
    font-family: customHeaders;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 3px;
}

h3 {
    padding: 10px;
    color: rgb(245 245 245);
    font-size: 22px;
    text-align: center;
    margin: 20px auto 20px auto;
}

/*Navigation Bar Styles*/
#nav-bar {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background: rgb(30 30 30);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2px 0 2px 10px;
    align-content: center;
    margin: 0 0 0 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
}

#nav-links {
    margin-left: auto;
    margin-right: auto;
}

#nav-bar a {
    font-family: 'Palatino Linotype', 'Palace Script MT';
    color: rgb(245 245 245);
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    font-size: 17px;
    transition: .3s;
    font-weight: 600;
}

#nav-bar a:hover {
    color: rgb(150 150 150);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

/*Header Styles*/
header {
    background-image: url("syc_imgs/index_page/syc_bg.webp");
    background-size: 1920px 1440px;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    padding-bottom: 0;
    margin: 0 0 0 0;
    line-height: 50px;
}

header h1, #header-phone, #header-email {
    color: rgb(245,245,245);
    text-shadow: 10px 5px 6px rgb(20 20 20);
    text-align: center;
    display: block;
    transform: translateY(50px);
    font-size: 60px;
    transition: .3s;
}

header h1 {
    font-family: fantasyFont;
    font-size: 80px;
}

#header-phone, #header-email {
    transform: translateY(350px);
}

#header-phone:hover, #header-email:hover {
    color: rgb(150 150 150);
}

#header-phone, #header-email{
    text-decoration: none;
    font-size: 45px;
}

/*Welcome Styles*/
#welcome-pic {
    max-height: 932px;
    height: 100%;
    max-width: 1240px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#welcome {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*Story Styles*/
#story {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*Offer Styles*/
#offer-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.offer-box {
    text-align: center;
    font-size: 20px;
    color: rgb(245 245 245);
    margin: 10px 20px 10px 20px;
}

.offer-box p {
    margin-top: 10px;
}

.offer-pic {
    width: 100%;
}

/*About Styles*/
#about {
    padding-top: 30px;
    padding-bottom: 30px;
}

#about-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-box {
    text-align: center;
    margin: 10px 20px 10px 20px;
}

#owner {
    width: 100%;
}

/*Gallery Styles*/
#gallery-box {
    width: 100%;
    max-height: 800px;
    height: 100%;
    margin: 0 auto 20px auto;
    box-shadow: 2px 2px 5px rgb(25 24 24);
}

* {
    box-sizing: border-box;
}

.img-gallery {
    vertical-align: middle;
    width: 100%;
    max-height: 800px;
    height: 100%;
}

.container {
    position: relative;
}

.mySlides {
    display: none;
    left: auto;
    right: auto;
}

.cursor {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

.numbertext {
    color: #f2f2f2;
    background: rgb(20 20 20 / 0.80);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

    .active,
    .demo:hover {
        opacity: 1;
    }

/*Footer Styles*/
footer {
    background: rgb(30 30 30);
    padding: 10px;
    text-align: center;
    color: rgb(245 245 245);
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: rgb(245 245 245);
    font-family: 'Palatino Linotype';
}

/*Resize Styles*/
@media screen and (min-width: 992px) and (max-width: 1400px) {
    header {
        background-size: 1400px 900px;
    }

    #owner {
        width: 75%;
    }
}


@media screen and (min-width: 481px) and (max-width: 991px) {
    /*Header Styles*/
    header {
        background-size: 991px 660px;
        height: 660px;
    }

    header h1 {
        font-size: 50px;
    }

    #contact-email {
        display: none;
    }

    /*Project Styles*/
    #projects-box {
        display: grid;
        grid-template-columns: 50% 50%;
        overflow: hidden;
    }

    /*Offer Styles*/
    #offer-container {
        grid-template-columns: 100%;
    }

    /*About Styles*/
    #about-container {
        grid-template-columns: 100%;
    }

    #owner {
        margin-right: auto;
        width: 75%;
    }

    /*About Us Styles*/
    #about-box {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    #gallery-box {
        width: 85%;
        max-height: 600px;
        height: fit-content;
    }

    .img-gallery {
        max-height: 600px;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    /*Header Styles*/
    header {
        background-size: 660px 400px;
        height: 400px;
    }

    header h1 {
        font-size: 50px;
    }

    #header-phone {
        transform: translateY(100px);
    }

    #header-email {
        display: none;
    }

   
    /*Project Styles*/
    #projects-box {
        display: grid;
        grid-template-columns: 100%;
        overflow: hidden;
    }

    /*Offer Styles*/
    #offer-container {
        grid-template-columns: 100%;
    }

    /*About Styles*/
    #about-container {
        grid-template-columns: 100%;
    }

    /*About Us Styles*/
    #about-box {
        display: grid;
        grid-template-columns: 100%;
    }

    #services-box {
        width: 90%;
    }

    #message {
        width: 90%;
        font-size: 17px;
    }

    /*Gallery Styles*/
    #gallery-box {
        width: 85%;
        max-height: 200px;
        height: fit-content;
    }

    .img-gallery {
        max-height: 200px;
        height: 100%;
    }
}

@media screen and (min-width: 2000px) {
    /*About Us Styles*/
    #about-box {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }


}